[submodule "insapp-web"]
	path = insapp-web
	url = https://github.com/thomas-bouvier/insapp-web.git
	branch = master

[submodule "insapp-go"]
	path = insapp-go
	url = https://github.com/thomas-bouvier/insapp-go.git
	branch = master
