debug = false

logLevel = "DEBUG"
defaultEntryPoints = ["https","http"]

# Web interface of Traefik
[web]
address = ":8080"

# Force HTTPS
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
  [entryPoints.https.tls]

[retry]

[docker]
domain = "REPLACE_WITH_YOUR_HOST"
watch = true
exposedbydefault = false

[acme]
email = "REPLACE_WITH_YOUR_EMAIL"
storage = "/etc/traefik/acme/acme.json"
entryPoint = "https"
OnHostRule = true
[acme.httpChallenge]
entryPoint = "http"
